<form action="/api/v1/signup" method="post">
  <h1>Signup form</h1>

  <input
    class="box"
    type="text"
    name="name"
    id="name"
    placeholder="Name"
    required
  /><br />

  <input
    class="box"
    type="email"
    name="email"
    id="email"
    placeholder="E-Mail "
    required
  /><br />

  <input
    class="box"
    type="password"
    name="password"
    id="password"
    placeholder="Password "
    required
  /><br />

  <input
    class="box"
    type="password"
    name="confirmPassword"
    id="confirmPassword"
    placeholder="confirmPassword "
    required
  /><br />
  <br />
  <!-- <input id="signupSubmit" type="submit" value="Submit" /><br /> -->
  <button type="submit">Register</button>
</form>
