<form action="/api/v1/login" method="post">
  <h1>Login form</h1>

  <input
    class="box"
    type="email"
    name="email"
    id="email"
    placeholder="E-Mail "
    required
  /><br />

  <input
    class="box"
    type="password"
    name="password"
    id="password"
    placeholder="Password "
    required
  /><br />
  <br />
  <!-- <input type="submit" value="Submit" /><br /> -->
  <button type="submit">Login</button>
</form>
<a href="/">Register</a>
