<!DOCTYPE html>
<html>
  <head>
    <title>Login Form</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <br />
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6 main">
          <form action="/api/v1/user" method="put">
            <h1>Update form</h1>

            <input
              class="box"
              type="name"
              name="name"
              id="name"
              placeholder="name "
              required
            /><br />

            <input
              class="box"
              type="address"
              name="address"
              id="address"
              placeholder="address "
              required
            /><br />

            <input
              class="box"
              type="profilePicture"
              name="profilePicture"
              id="profilePicture"
              placeholder="Profile Picture "
              required
            /><br />

            <input
              class="box"
              type="gender"
              name="gender"
              id="gender"
              placeholder="Gender"
              required
            /><br />

            <input
              class="box"
              type="martialStatus"
              name="martialStatus"
              id="martialStatus"
              placeholder="Martial Status"
              required
            /><br />

            <input
              class="box"
              type="dateOfBirth"
              name="dateOfBirth"
              id="dateOfBirth"
              placeholder="Date Of Birth"
              required
            /><br />

            <br />
            <input type="submit" value="Submit" /><br />
          </form>
        </div>

        <div class="col-md-3"></div>
      </div>
    </div>
  </body>
</html>
